<script>
    !function(a,b,c,d){var e=0,f=a.onerror;a._fauxrErrors={id:d,errors:[]},b.addEventListener("DOMContentLoaded",function(){e=1}),a.onload=function(){e=2},a.onerror=function(b,c,d,g,h){c&&a._fauxrErrors.errors.push({message:b,source:c,lineNo:d,colNo:g,error:h,loadState:e,timestamp:(new Date).getTime()}),f&&f.apply(this,arguments)};var g=function(){var a=b.createElement(c),d=b.getElementsByTagName(c)[0];a.src="http://localhost:5000/fauxr-controller.min.js",a.async=!0,d.parentNode.insertBefore(a,d)};a.addEventListener?a.addEventListener("load",g,!1):a.attachEvent("onload",g)}(window,document,"script","5762570e65f107d823000043");
</script>

<title>Fauxr error catcher on Heroku</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>