{
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "commonjs": true,
    "mocha": true,
    "es6": true,
    "amd": true,
    "jquery": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "indent": [0],
    "object-curly-spacing": [0],
    "no-underscore-dangle": [0],
    "arrow-body-style": [0],
    "import/no-unresolved": [2, { "ignore": ["node_modules", "view", "\\.(scss|less|css)$"] }]
  },
  "globals": {
    "React": true,
    "ReactDOM": true,
    "sinon": true,
    "chai": true,
    "enzyme": true,
    "Backbone": true,
    "expect": true,
    "Tests": true,
    "RGA": true
  }
}
