@import '../utils/colors';
@import '../utils/mixins';

textarea {
    background-color: @white-pure;
    border-color: @light-gray;
    color: @black;
    overflow: hidden;
    resize: none;
    width: 100%;

    .border-radius(4px, 4px, 4px, 4px);
}