#project-details {
    .error {
        list-style: none;
        margin-bottom: 15px;

        label {
            margin-right: 5px;
        }

        .source {
            color: @light-blue;
            cursor: pointer;

            label {
                color: @black;
            }
        }

        .message {
            color: @red;
        }

        .toggle-stack-trace {
            color: @light-blue;
            cursor: pointer;
        }
    }
}